:root {
    --main-title-color: #FFFFFF;
    --second-title-color: #303030;
    --first-text-color: rgba(157, 164, 189, 0.6);;
    --second-text-color: #9DA4BD;
    --third-text-color: #303030;
    --fourth-text-color:#555555;
    --first-button-color: #FFFFFF;
    --second-button-color: #303030;
    --header-text-color: #FFFFFF;
    --accent-color:#FF6C00;
}

/* ----------------------GENERAL--------------------- */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}
p, h, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .container {
    width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    width: 160px;
    min-height: 40px;
    background-color: transparent;
    transition: color 300ms linear, background-color 300ms linear, transform 200ms ease-in-out;
  }

  .btn:hover, 
  .btn:focus {
    color: var(--first-button-color);
    background-color: var(--accent-color);
  }

  .pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  .pre-title::before {
    content: "";
    width: 63px;
    height: 1px;
    margin-right: 21px;
    background-color: rgba(157, 164, 189, 0.6);
}

  .section-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.18;
    letter-spacing: 0.05em;
  }

  .after-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em; 
  }
/* ----------------------HEADER--------------------- */

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    
}
.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
margin-right: 70px;
}

.header-list {
    display: flex;
}

.header-item {
margin-right: 40px;

}

.header-item:last-child {
margin-right: 0;

}

.header-link {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
    transition: color 300ms linear;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-right-side {
    margin-left: auto;
}

.header-tel {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--header-text-color);
    transition: color 300ms linear;
}

.header-tel:hover,
.heder-tel:focus {
    color: var(--accent-color);
}

.header-btn {
    margin-left: 40px;
    margin-right: 10px;

    color: var(--first-button-color);
}

/* ----------------------HERO--------------------- */

.hero {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
    display: flex;
    
}

.hero-left {
    width: 93px;
    display: flex;
    align-items: flex-end;
    padding-left: 23px;
    padding-bottom: 33px;
}

.hero-list {
display: flex;
transform: rotate(-90deg) translate(-15px);
transform-origin: top left;
align-items: center;
}


.hero-list::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: var(--third-text-color);
    margin-right: 40px;
}
    
.hero-list-item:not(:last-child) {
    margin-right: 40px;
}

.hero-link {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.36;  
    letter-spacing: 0.2em;
    color: var(--third-text-color);
    transition: color 300ms linear;
}

.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}

.hero-right {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/slider-img-1.jpg);
    background-color: var(--fourth-text-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    flex-grow: 1;
    padding-top: 272px;
    padding-bottom: 199px;
    padding-left: 94px;
}

.hero-pre-title {
    color: var(--first-text-color);
    margin-bottom: 20px;
}

.hero-pre-title::before {
    background-color: var(--first-text-color);
}

.hero-title {
    color: var(--main-title-color);
    margin-top: 0;
    margin-bottom: 20px;
}

.hero-after-title {
    color: var(--second-text-color);
    max-width: 400px;
}

/* ----------------------ABOUT--------------------- */
.about {
    padding-top: 139px;
    padding-bottom: 121px;
}

.about-container {
    display: flex;
}

.about-list {
    display: flex;
    margin-right: 64px;
    flex-shrink: 0;
}

.about-item:not(:last-child) {
    margin-right: 30px;
}

.about-pre-title {
    color: var(--third-text-color);
    margin-bottom: 20px;
}

.about-pre-title::before {
    background-color: var(--first-text-color);
}

.about-title {
    color: var(--second-title-color);
    margin-bottom: 20px;
}

.about-after-title {
    color: var(--fourth-text-color);
    margin-bottom: 20px;
}

.about-title-description {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--fourth-text-color);
    margin-bottom: 44px;
}

.about-btn {
    color: var(--second-button-color);
}

/* ----------------------PRICES--------------------- */
.prices {
    background-color: #111319;
background-image: url(../img/prices-bg.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding-top: 130px;
padding-bottom: 130px;
max-width: 1280px;
margin: 0 auto;
}

.prices-list-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.prices-list {
    width: 585px;
    height: 240px;
    width: 50%;
    padding: 30px 40px;
}

.prices-list-left {
    background:  linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list-right {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
}

.prices-item::before {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: rgba(157, 164, 189, 0.12);
    margin-left: 6px;
    margin-right: 6px;
}

.prices-item:last-child {
margin-bottom: 0;
}

.prices-service-name {
    order: -1;
}

.prices-pre-title {
    color: var(--first-text-color);
    margin-bottom: 20px;
}

.prices-title {
    color: var(--main-title-color);
    margin-bottom: 44px;
}

.prices-item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.prices-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--first-button-color);
   display: block;
   margin: 0 auto;
}

/* ----------------------Reasons--------------------- */

.reasons {
    padding-top: 130px;
    padding-bottom: 130px;
}

.reasons-container {
    display: flex;
}

.reasons-left {
    display: flex;
    justify-content: center;
}

.reasons-list {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
}

.reasons-item {
    width: 170px;
    height: 133px;
    background-color: #f7f7f7;
    padding: 20px;
}

.reasons-item:nth-child(odd) {
    margin-right: 30px;
}

.reasons-item:nth-child(even) {
    margin-top: 30px;
}

.reasons-left,
.reasons-right {
    width: calc(50% - 30px);
}

.reasons-count {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--third-text-color);
    display: flex;
    text-align: center;
    justify-content: center;
}

.reasons-count::after {
    content: "+";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: var(--accent-color);
}

.reasons-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--third-text-color);
}

.reasons-pre-title {
    color: var(--third-text-color);
    margin-bottom: 20px;
}

.reasons-pre-title::before {
    background-color: var(--first-text-color);
}

.reasons-title {
    color: var(--second-title-color);
    margin-bottom: 20px;
    max-width: 400px;
}

.reasons-after-title {
    color: var(--fourth-text-color);
    max-width: 400px;
}

/* ----------------------MASTERS--------------------- */

.masters {
    background-color: #F7F7F7;;
    padding-top: 130px;
    padding-bottom: 130px;
}

.masters-pre-title {
    color: var(--third-text-color);
    margin-bottom: 20px;
}

.masters-pre-title::before {
    background-color: var(--first-text-color);
}

.masters-title {
    color: var(--second-title-color);
    margin-bottom: 44px;
}

.masters-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.masters-item {
    flex-basis: calc(100 / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.masters-item-text {
    margin-top: 30px;
}

.masters-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
    margin-bottom: 8px;
}

.masters-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 30px;
}

.master-social-media-list {
    display: flex;
    justify-content: center;
}
.master-social-item {
    width: 44px;
    height: 44px;
} 

.master-social-item:not(:last-child) {
    margin-right: 10px;
}

.master-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 300ms linear, background-color 300ms linear, transform 0ms ease-in-out 500ms;
}

.master-social-link:hover,
.master-social-link:focus {
    background-color: var(--second-button-color);
}

.master-social-link:hover .master-social-icon,
.master-social-link:focus .master-social-icon {
    fill: var(--accent-color);
}

.masters-img-wrap {
    position: relative;
    overflow: hidden;
}

.masters-img-wrap:hover .masters-overlay-text {
    transform: translateY(0%);
    transition: transform 300ms;
    overflow: auto;
}

.masters-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    color:#FFFFFF;
    background-color: rgba(255, 108, 0, 0.7);
    height: 100%;
    transform: translateY(-100%);
    transition: transform 300ms;
    overflow: auto;
}

/* ----------------------GALLERY--------------------- */
.gallery {
    padding-top: 130px;
    padding-bottom: 130px;
}

.gallery-pre-title {
    color: var(--third-text-color);
    margin-bottom: 44px;
}

.gallery-pre-title::before {
    background-color: var(--first-text-color);
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.gallery-item {
flex-basis: calc(100% / 4 - 30px);
margin-right: 30px;
margin-bottom: 30px;

}

/* ----------------------PRE-FOOTER--------------------- */

.pre-footer-container {
    display: flex;
}

.online,
.pre-footer-contacts {
    width: 50%;
}

.online {
    background-color: #191C26;
    padding-top: 130px;
    padding-bottom: 190px;
}


.online-title {
    margin-left: 80px;
    margin-bottom: 44px;
    color: var(--main-title-color);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
}

.online-form {
    margin-left: 80px;
}

.online-input {
    margin-bottom: 44px;
    width: 220px;
    height: 24px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);

    padding: 0 5px;
}

.online-input:hover,
.online-input:focus {
    border-bottom: 1px solid #FFFFFF;
    color:#FFFFFF
}

.online-input:not(:last-child) {
    margin-right: 30px;
}

.online-textarea {
    width: 470px;
    height: 76px;
    color: var(--main-title-color);
    background-color: transparent;
    resize: none;
    padding: 10px;

    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.online-submit-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--first-button-color);
    background-color: var(--accent-color);
    display: block;
    margin-top: 44px;
}

.online-submit-btn:hover,
.online-submit-btn:focus {
    color: var(--second-button-color);
    border-color: var(--first-button-color);
}

.pre-footer-contacts {
    background-color: #191C26;
    background-image: url(../img/pre-footer-contacts-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 100px;
    max-width: 1280px;
    margin: 0 auto;
}

.contacts-title {
    color: var(--main-title-color);
    margin-bottom: 40px;
}

.contacts-list {
    margin-bottom: 70px;
}

.contacts-item:not(:last-child){
    margin-bottom: 20px;
}

.contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.contacts-hours {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.contacts-hours-count {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

/* ----------------------FOOTER--------------------- */
.footer {
    padding-top: 56px;
    padding-bottom: 55px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.footer-copy {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--second-text-color);
}

.footer-list {
    display: flex;
    align-items: center;
}

.footer-item:not(:last-child){
    margin-right: 40px;
}

.footer-first-item {
    display: flex;
    align-items: center;
}

.footer-first-item::before {
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 40px;
    background-color: #303030;
}

.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--third-text-color);
}

/* -------------------------BACKDROP------------------- */

.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(85, 85, 85, 0.7);
    position: fixed;
    top: 0;
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.backdrop.is-hidden .modal {
    transform: scale(2);
}

.modal {
    width: 500px;
    min-height: 500px;
    background-color: rgba(255, 108, 0, 0.8);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    transition: transform 300ms ease-in-out;
    padding: 40px;
}

.modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
}

.modal-close:hover .modal-close-icon {
fill: #FFFFFF;
transform: scale(-120%) rotate(180deg);
transition: transform 300ms ease-in-out, fill 300ms linear;
}

.modal-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: var(--second-title-color);
    text-align: center;
    margin-bottom: 15px;
}

.modal-form {
display: flex;
flex-direction: column;
}


.modal-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.2em;
}

.modal-input {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    outline: none;
    color: var(--main-title-color);
}

.required::after {
    content: "*";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
}

.modal-select {
    outline: none;
    width: 100%;
    height: 37px;
    color: var(--main-title-color);
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2px;
}

.modal-select-option {
    background-color: rgba(255, 108, 0, 0.8);
}

.modal-submit-btn {
    margin: 20px auto;
    color: #FF6C00;
    background-color: #303030;
    border: 2px solid #FFFFFF;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
